<!-- TOTAL HACK-->
<style type="text/css">
.buttonicon-publish {
  width: 80px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-family:Helvetica,Arial,sans-serif;
  font-size:16px;
  font-weight:bold;
  color:rgb(98,98,98);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
<!-- /TOTAL HACK -->

<li class="acl-write separator"></li>
<li class="acl-write" id="publish" data-key="publish">
    <a class="grouped-left-and-right" data-l10n-id="pad.toolbar.publish">
      <span class="buttonicon-publish">PUBLISH</span>
    </a>
</li>